.comments__item {
  padding: 10px 0;
  border-bottom: 1px solid #b2b2b2;
}

.comments__author {
  font-size: 14px;
  color: #007bff;
}

.comments__time {
  display: block;
  margin-bottom: 10px;
  font-size: 13px;
  color: grey;
}

.comments__text {
  margin: 5px 0 10px;
  font-size: 16px;
}

.comments-btn__block {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.comment__btn {
  display: block;
  border: none;
  background: none;
  cursor: pointer;
}

.edit-cancel--btn {
  font-size: 14px;
  color: rgb(0, 140, 255);
  transition: color 0.3s linear;
}

.edit-cancel--btn:hover {
  color: rgb(0, 4, 255);
}

.comment__btn__icon {
  width: 20px;
  height: 20px;
  color: #464545;
  transition: color 0.2s ease;
}

.remove-icon:hover {
  color: red;
}

.edit-icon:hover {
  color: rgb(17, 228, 63);
}

@media (max-width: 768px) {
  .comments__author {
    font-size: 12px;
  }

  .comments__time {
    font-size: 11px;
  }

  .comments__text {
    font-size: 14px;
  }

  .edit-cancel--btn {
    font-size: 12px;
  }
}
