.button {
  display: block;
  padding: 12px 27px;

  border: 0;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  text-align: center;
  color: white;

  transition: transform 0.2s linear;
}

.button:hover {
  transform: scale(105%);
}

.red {
  background-color: red;
}

.green {
  background-color: rgb(17, 228, 63);
}

.cancel {
  background-color: grey;
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;

  transition: all 0.2s linear;
}

.button:disabled:hover,
.button:disabled:active {
  background-color: initial;
  color: initial;
}

/* Media */
@media (max-width: 1024px) {
  .button:disabled {
    pointer-events: none;
  }
}

@media (max-width: 768px) {
  .button {
    padding: 8px 18px;
    font-size: 14px;
  }
}
