.header {
  width: 100%;
  background-color: #515253;
}

.header__wrapper {
  padding: 20px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: white;
}

.logo__link {
  font-size: 24px;
  font-style: italic;
}

.header-links__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.auth-control {
  display: block;
  padding: 10px 20px;

  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #ff4c4c;
  color: white;
  font-size: 18px;

  transition: background-color 0.3s ease;
}

.auth-control:hover {
  background-color: #ff2e2e;
  transform: scale(1.05);
}

.auth-control:active {
  background-color: #e60000;
  transform: scale(0.98);
}

.login-link {
  background-color: rgb(56, 250, 66);
}

.login-link:hover {
  background-color: rgb(22, 242, 33);
  transform: scale(1.05);
}

.login-link:active {
  background-color: rgb(0, 216, 11);
  transform: scale(0.98);
}

/* Media */

@media (max-width: 768px) {
  .header-links__wrapper {
    display: none;
  }
}
